  
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: darkgoldenrod;
    font-family: 'Press Start 2P', cursive;
}

.btn {
  font-family: 'Press Start 2P', cursive;
}

  
fieldset {
    width: 80%;
    margin: 1.5rem auto;
    border: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: left; }
    
fieldset input {
    width: 100%;
    padding: 10px;
    font-size: 1rem; 
    border-radius: 4rem;
    font-family: 'Press Start 2P', cursive;
  }
  
ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.3rem;
    row-gap: 1.3rem;
    margin: 3rem auto;
    text-align: center;
    width: 85%;
    max-width: 1024px; }

    ul li {
      border-radius: 3rem;
      background: rgb(194, 189, 189); }

    ul li:nth-of-type(2), ul li:nth-of-type(4), ul li:nth-of-type(6), ul li:nth-of-type(8), ul li:nth-of-type(10) {
     }
        
    ul li:nth-of-type(10) {
     }

    ul li div {
        text-align: center;
        margin-top: -2rem;
        background: black;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #ffffff; }
  
  .btn {
    margin: 1.5rem auto 0;
    text-align: center;
    display: block;
    padding: 5px;
    width: 15%;
    height: 2.5rem;
    font-size: 1rem;
    cursor: pointer; }


  